<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.icnt.dinners.dinner"
    android:versionCode="1"
    android:versionName="1.1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </permission>

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="cn.icnt.dinners.dinner.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.icnt.dinners.dinner.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="cn.icnt.dinners.dinner.CouponActivity"
            android:label="@string/coupon_name"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="cn.icnt.dinners.dinner.ShowDetailActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="cn.icnt.dinners.dinner.LoginActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" />
        <activity
            android:name="cn.icnt.dinners.dinner.RegisterActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" />
        <activity
            android:name="cn.icnt.dinners.dinner.DetailsActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="cn.icnt.dinners.dinner.MyOrderActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" />
        <activity
            android:name="cn.icnt.dinners.dinner.ShareActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="cn.icnt.dinners.dinner.DetailaActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="cn.icnt.dinners.dinner.DetailcActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" >
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="RbcZmUpc5wOBKdgtr8ndKSas" />

        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent1101824120" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="cn.icnt.dinners.dinner.FindPassWordActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="cn.icnt.dinners.dinner.MycollectDetailActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="cn.icnt.dinners.dinner.MycouponDetailActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="cn.icnt.dinners.dinner.MycreditDetailActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="cn.icnt.dinners.dinner.MysettingDetailActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="cn.icnt.dinners.dinner.UserinfoActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="cn.icnt.dinners.dinner.MyaccountDetailActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="cn.icnt.dinners.dinner.FoodConnoisseurActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" />
        <activity
            android:name="cn.icnt.dinners.dinner.NearActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="cn.icnt.dinners.dinner.OrderActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="cn.icnt.dinners.dinner.ShowOrderDetailActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="cn.icnt.dinners.dinner.OrderPayActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.alipay.android.app.sdk.WapPayActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.icnt.dinners.dinner.RestaurantDetailActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" />
        <activity
            android:name="cn.icnt.dinners.dinner.SearchActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" />
        <activity
            android:name="cn.icnt.dinners.dinner.OrderDishesActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" />
        <activity
            android:name="cn.icnt.dinners.dinner.DishesDetailActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53e8288afd98c501ba0564d0" >
        </meta-data>
        <activity
            android:name="cn.icnt.dinners.dinner.CommentsActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" />
    </application>

</manifest>