<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.icnt.dinners.dinner"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="cn.icnt.dinners.dinner.MycollectDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.icnt.dinners.dinner.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="cn.icnt.dinners.dinner.CouponActivity"
            android:label="@string/coupon_name"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="cn.icnt.dinners.dinner.ShowDetailActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="cn.icnt.dinners.dinner.LoginActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="cn.icnt.dinners.dinner.RegisterActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="cn.icnt.dinners.dinner.MyOrderActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" >
        </activity>
         <activity
            android:name="cn.icnt.dinners.dinner.MycouponDetailActivity"
            android:label="@string/showdetail"
            android:screenOrientation="nosensor" >
        </activity>
    </application>

</manifest>